E-Comerce/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFLogin" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFLogin" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="RespuestaUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Rol" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Usuario" type="xs:int" />
      <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaUsuario" nillable="true" type="tns:RespuestaUsuario" />
  <xs:complexType name="CambiarClave">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClaveAct" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaveNew" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Usuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CambiarClave" nillable="true" type="tns:CambiarClave" />
</xs:schema>